{% extends "base.html.twig" %}

{% block main_menu %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse">
			{{ knp_menu_render('main', {}, 'bootstrap') }}
		</div>
	</nav>

{% endblock main_menu %}

{% block login %}
	<div id="form-login">
		{{ render(controller("FOSUserBundle:Security:login")) }}
	</div>
{% endblock %}

{% block body %}

	<h1>Трататататататтататата</h1>
	<p>Ататататтататата</p>

{% endblock body %}

