{% extends "base.html.twig" %}

{% block main_menu %}
    <nav class="navbar navbar-default" role="navigation">

        {{ knp_menu_render('main', {}, 'bootstrap') }}

    </nav>

{% endblock main_menu %}

{% block login %}
    <div id="form-login">
        {{ render(controller("FOSUserBundle:Security:login")) }}
    </div>
{% endblock %}



